dataset:
  category: 'car'
  img_size: 256
  img_height: 320
  img_width: 512
  split: 'val'
  transform: 'flip'
  padding_frac: 0.05
  jitter_frac: 0.05
  flip: True
  tight_crop: False
  flip_train: True
  num_pairs: 10000

  dir:
    texture: 'resources/color_maps/car/map3.png'
    template: 'datasets/cachedir/shapenet/car/marching_cubes_mean.obj'
    data_dir: 'datasets/PASCAL3D+_release1.1'
    cache_dir: 'datasets/cachedir/p3d'

test:
  batch_size: 5
  shuffle: True
  workers: 4
  out_dir: 'out'
  use_gt_cam: True
  num_cam_poses: 8
  use_sampled_cam: True
  alpha: [0.05, 0.1, 0.2]
  checkpoint: ''
  add_summaries: True
  log:
    image_summary_step: 1
