dataset:
  category: 'car'
  img_size: 256
  img_height: 320
  img_width: 512
  split: 'train'
  transform: 'flip'
  padding_frac: 0.05
  jitter_frac: 0.05
  flip: True
  tight_crop: False
  flip_train: True

  dir:
    texture: 'resources/color_maps/car/map3.png'
    template: '/mnt/raid/csmteam/datasets/cachedir/shapenet/car/marching_cubes_mean.obj'
    data_dir: '/mnt/raid/csmteam/datasets/PASCAL3D+_release1.1'
    cache_dir: '/mnt/raid/csmteam/datasets/cachedir/p3d'

    train:
  batch_size: 32
  epochs: 100
  shuffle: True
  workers: 8
  checkpoint: ''
  out_dir: '/mnt/raid/csmteam/out'
  use_gt_cam: False
  log:
    loss_step: 10
    image_summary_step: 100
    image_epoch: 1
  loss:
    geometric: 1
    visibility: 10
    mask: 2
  optim:
    lr: 0.00006
    beta1: 0.9
    type: 'adam'
