dataset:
  category: 'bird'
  img_size: 256
  img_height: 320
  img_width: 512
  split: 'train'
  transform: 'flip'
  padding_frac: 0.05
  jitter_frac: 0.05
  flip: True
  tight_crop: False
  flip_train: True

  dir:
    texture: 'resources/color_maps/horse/map3.png'
    data_dir: 'datasets/IMAGENET'
    cache_dir: 'datasets/cachedir/'

train:
  batch_size: 5
  epochs: 100
  shuffle: True
  workers: 0
  checkpoint: ''
  out_dir: './out'
  use_gt_cam: False
  log:
    loss_step: 10
    image_summary_step: 30
    image_epoch: 1
  loss:
    geometric: 1
    visibility: 10
    mask: 2
  optim:
    lr: 0.00006
    beta1: 0.9
    type: 'adam'
