dataset:
  category: 'car'
  img_size: 256
  img_height: 320
  img_width: 512
  split: 'val'
  transform: 'flip'
  padding_frac: 0.05
  jitter_frac: 0.05
  flip: True
  tight_crop: False
  flip_train: True
  num_pairs: 10000

  dir:
    texture: 'resources/color_maps/car/map3.png'
    template: '/mnt/raid/csmteam/datasets/cachedir/shapenet/car/marching_cubes_mean.obj'
    data_dir: '/mnt/raid/csmteam/datasets/PASCAL3D+_release1.1'
    cache_dir: '/mnt/raid/csmteam/datasets/cachedir/p3d'

test:
  batch_size: 8
  shuffle: True
  workers: 8
  out_dir: '/mnt/raid/csmteam/out'
  use_gt_cam: True
  num_cam_poses: 8
  use_sampled_cam: True
  alpha: [0.05, 0.1, 0.2]
  checkpoint: '/mnt/raid/csmteam/out/2020-06-23/200649/checkpoints/model_071810_195'
  add_summaries: False
  log:
    image_summary_step: 1
